@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

    .header{
        background-color: #000 ;
        background-size: cover;
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;

    }

    .light-blue{ 
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        filter: blur(200px);
       
        background-color: #3830a8;
        
    }

    .light-violet{ 
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        filter: blur(200px);
       
        background-color: #4f2374;
        
    }

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-banner{
    padding-top: 5rem;
}

.text-banner h1{
    padding-top: 5rem;
    text-align: center;
    color:rgb(199, 199, 199);
    border-bottom: 1px solid #fff ;
}

.text-banner h2{
    padding-top: 20px;
    text-align: center;
    color:rgb(199, 199, 199);

}


.redes-sociales{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}


.redes-sociales a{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 3;
}

.redes-sociales a:hover{
background: #3F0071;
}

    
    

    .svgLogo{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 35px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: visible !important;
        z-index: 3;
    }

    @media screen and (max-width: 1440px) {
        .redes-sociales a{
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            line-height: 1;
            margin-right: 8px;
            border-radius: 50%;
            width: 40px;
            height: 40px;

        }
    
    }

@media screen and (max-width: 960px) {

    .svgLogo{
        position: absolute;
        display: flex;
        top: 35px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: visible !important;
        z-index: 3;
    }
    .header{
        background-color: #000 ;
        background-size: cover;
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;

    }

    .text-banner{
        text-align: center;
        margin: 150px;
        color:#fff;
    }

    .header .text-banner{
        text-align: center;
    }

    .text-banner h1{
        text-align: center;
        font-size: 50px;
        color: #3F0071;
        text-transform: uppercase;
        margin: 5px 0;
    }

    .text-banner h2{
        font-size: 30px;
    }
    .redes-sociales{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .redes-sociales a{
        font-size: 30px;
        background: rgb(255, 255, 255, 0.1);
        color: #fff;
        line-height: 1;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

}
